@media screen and (min-width: 993px) {
                         html body {
                                                  font-family: raleway;
                         }
                         HTML {
                                                  width: auto;
                         }
                         body {
                                                  overflow-x: hidden;
                         }

                         /*HEADER*/

                         .head-section {
                                                  height: 100px;
                                                  display: flex;
                                                  justify-content: space-between;
                                                  align-items: center;
                                                  width: 100%;
                         }
                         #logo {
                                                  margin: 50px 0 40px 60px;
                                                  width: 42%;
                         }

                         .menu {
                                                  width: 30%;
                                                  display: flex;
                                                  justify-content: flex-end;
                                                  height: 100%;
                                                  align-items: center;
                         }
                         .bordure-nav:hover {
                                                  border-top: 3px solid #0065fc;
                                                  color: #0065fc;
                                                  display: flex;
                                                  justify-content: center;
                                                  align-items: center;
                         }
                         .bordure-nav {
                                                  height: 100%;
                                                  display: flex;
                                                  justify-content: center;
                                                  align-items: center;
                         }
                         a:link /* trait sous le lien retiré */ {
                                                  text-decoration: none;
                         }
                         .menu > a {
                                                  text-decoration: none;
                                                  color: black;
                                                  width: 160px;
                                                  display: flex;
                                                  justify-content: center;
                         }
                         /* filtre*/
                         /*MAIN*/

                         .filtre h1 {
                                                  text-align: left;
                                                  font-size: 20px;
                                                  font-weight: 800;
                                                  margin-bottom: 10px;
                         }
                         .filtre>p {
                                                  text-align: left;
                                                  font-size: medium;
                                                  width: 80%;
                                                  font-weight: 500;
                                                  margin-top: 0%;
                         }
                         .filtre {
                                                  margin-left: 40px;
                                                  display: flex;
                                                  flex-direction: column;
                         }
                         .filtre:first-child {
                                                  width: auto;
                                                  align-self: center;
                         }
                         .recherche {
                                                  /* recherche */
                                                  width: 100%;
                                                  height: 50px;
                                                  margin-top: 20px;
                         }
                         .formulaire {
                                                  height: 50px;
                                                  display: flex;
                                                  flex-direction: row;
                                                  justify-content: flex-start;
                                                  width: auto;
                         }
                         .fa-magnifying-glass /* icon loupe disparait */ {
                                                  display: none;
                                                  width: 30%;
                         }
                         .icon {
                                                  width: 50px;
                                                  height: auto;
                                                  background-color: #f2f2f2;
                                                  border: 1px solid #f2f2f2;
                                                  border-radius: 15px 0 0 15px;
                                                  display: flex;
                                                  align-items: center;
                                                  justify-content: center;
                         }
                         .champ {
                                                  width: 200px;
                                                  height: auto;
                                                  display: flex;
                                                  align-items: center;
                                                  justify-content: flex-start;
                                                  border: 1px solid #f2f2f2;
                                                  border-right: none;
                                                  font-weight: 900;
                         }
                         .btn {
                                                  font-weight: bold;
                                                  height: 50px;
                                                  width: 120px;
                                                  background-color: #0065fc;
                                                  color: white;
                                                  border: none;
                                                  cursor: pointer;
                                                  border-radius: 0 10px 10px 0;
                         }

                         .btn:hover {
                                                  font-weight: bold;
                                                  height: 50px;
                                                  width: 120px;
                                                  background-color: white;
                                                  color: #0065fc;
                                                  border: 2px solid #0065fc;
                                                  cursor: pointer;
                                                  border-radius: 0 10px 10px 0;
                                                  box-shadow: 10px 5px 5px
                                                                           #0065fc;
                         }

                         .magnifying-glass  {
                                                  display: none;
                         }

                         .filtres  /* filtre */ {
                                                  font-weight: 900;
                                                  display: flex;
                                                  flex-direction: row;
                                                  margin-left: 10px;
                                                  width: 72px;
                         }
                         .filtres {
                                                  margin: 20px 0 0 15px;
                                                  font-weight: 800;
                                                  width: AUTO;
                                                  display: flex;
                                                  flex-flow: row nowrap;
                                                  justify-content: flex-start;
                                                  align-items: center;
                         }
                         
                         .bouton a {
                                                  color: white;
                         }
                         
                                                 
                         .filters-ul{
                           display: flex;
                           flex-direction: row;
                         }
                         .btn-filtre  {
                           display: flex;
                           align-items: center;
                           justify-items: flex-start;
                           padding: 0 20px;
                           /* text-align: center; */
                           font-weight: 800;
                           border: none;
                           background-color: white;
                           padding: 0px 31px 0px 0px;
                           margin: 18px 8px 13px 30px;
                           border: 2px solid #ccc9c9;
                           border-radius: 0px 30px 30px 0px;
                           height: 40px;
                         }
                         .i-info {
                                                   
                                                  position: relative;
                                                  right: 22px;
                                                  bottom: 0px;
                                                  display: flex;
                                                  justify-content: center;
                                                  width: 17px;
                                                  height: 17px;
                                                  color: #0065fc;
                                                  background-color: #bff0f7;
                                                  border-radius: 100%;
                                                  padding: 14px 14px 14px 14px;
                                                  
                         }
                         .btn-filtre:hover .i-info {
                                                  display: flex;
                                                  justify-content: center;
                                                  width: 15px;
                                                  height: 15px;
                                                  color: #bff0f7;
                                                  background-color: #0065fc;
                                                  border-radius: 100%;
                                                  padding: 14px 14px 14px 14px;
                                                  cursor: pointer;
                         }
                         .info {
                                                  display: flex;
                                                  align-items: center;
                         }
                         .fa-info /* bulle info*/ {
                                                  font-size: x-small;
                         }
                         .info i {
                                                  color: #0065fc;
                                                  background-color: white;
                                                  border-radius: 100%;
                                                  border: 1px solid #a09e9e;
                                                  padding: 12px 9px 12px 9px;
                                                  margin-right: 10px;
                         }
                         .info p {
                                                  opacity: 0.8;
                                                  font-size: small;
                                                  width: 80%;
                         }
                         /* article*/
                         .cont-article/*SECTION en colone article et footer */ {
                                                  display: flex;
                                                  flex-direction: column;
                                                  justify-content: center;
                         }
                         .cont-article .Article-list {
                                                  display: flex;
                                                  flex-direction: row;
                                                  margin: 0px 0px 0px 30px;
                         }

                         #hebergement/* hébergement */ {
                                                  margin: 0 auto;
                                                  background-color: #f2f2f2;
                                                  border-radius: 25px;
                                                  padding: 0px 10px;
                                                  margin: 5px 25px 0 20px;
                         }
                         #hebergement > h2 {
                                                  font-weight: 800;
                                                  margin-left: 45px;
                                                  font-size: 20px;
                         }

                         .annonce {
                                                  list-style-type: none;
                                                  display: flex;
                                                  flex-wrap: wrap;
                                                  justify-content: center;
                         }
                         .list-heberg {
                                                  width: 33%;
                         }
                         .article {
                                                  width: 70%;
                                                  height: 200px;
                                                  background-color: #ffffff;
                                                  border: 5px solid #ffffff;
                                                  border-radius: 15px;
                                                  overflow: hidden;
                                                  box-shadow: 5px 5px 20px
                                                                           rgba(
                                                                                                    0,
                                                                                                    0,
                                                                                                    0,
                                                                                                    0.1
                                                                           );
                                                  margin-left: 10px;
                                                  margin-bottom: 20px;
                         }

                         .article-heberg .article-photo {
                                                  width: 100%;
                                                  height: 45%;
                         }
                         .article-heberg figure {
                                                  width: 260px;
                                                  height: 250px;
                                                  margin: 2px;
                         }
                         .article-heberg figcaption {
                                                  display: flex;
                                                  flex-direction: column;
                                                  margin-bottom: 0px;
                                                  box-sizing: border-box;
                         }

                         .article a {
                                                  color: #333;
                                                  text-decoration: none;
                         }
                         .article:hover .article-photo img {
                                                  /*6*/
                                                  width: 250px;
                                                  filter: grayscale(0);
                                                  height: 210px;
                         }

                         .article-photo img {
                                                  width: 264px;
                                                  height: 127px;
                                                  object-fit: cover;
                                                  
                                                  position: relative;
                                                  bottom: 10px;
                         }
                         .article-heberg figcaption > h3 {
                                                  font-size: 13px;
                                                  font-weight: 800;
                                                  margin: 10px 0 0px 0;
                         }
                         .article-heberg figcaption > p {
                                                  font-size: small;
                                                  margin: 12px 0 12px 0;
                         }

                         .article figcaption  /* mise en place texte*/ {
                                                  margin-left: 8px;
                         }

                         .star-on {
                                                  color: #0065fc;
                         }

                         .star-off {
                                                  color: rgb(155, 149, 149);
                         }
                         #link {
                                                  margin: 0px 0px 0px 55px;
                                                  font-weight: 800;
                                                  text-decoration: none;
                                                  color: black;
                                                  font-size: 18px;
                         }
                         .les-populaires > h2 {
                                                  font-weight: 800;
                                                  margin-left: 25px;
                                                  font-size: 20px;
                         }
                         .les-populaires i {
                                                  float: right;
                         }
                         .les-populaires {
                                                  background-color: #f2f2f2;
                                                  padding: 0px 5px;
                                                  width: 360px;
                                                  border-radius: 25px;
                         }
                         .article-populaire {
                                                  font-size: smaller;
                                                  width: 308px;
                                                  height: 135px;
                                                  background-color: #ffffff;
                                                  border: 2px solid #ffffff;
                                                  border-radius: 15px;
                                                  object-fit: cover;
                                                  box-shadow: 5px 5px 20px rgba( 0, 0, 0, 0.1 );
                                                  margin: 0 38px 30px 0px;
                                                  align-content: center;
                         }
                         .article-populaire:hover .article-photo img {
                                                  /*6*/
                                                  width: 350px;
                                                  filter: grayscale(0);
                         }
                         .article-populaire a {
                                                  position: relative;
                         }
                         .annonce-populaire {
                                                  display: flex;
                                                  flex-wrap: wrap;
                                                  width: 385px;
                                                  padding: 0px;
                         }
                         .titre-populaire {
                                                  font-size: 20px;
                                                  font-weight: bolder;
                                                  margin-top: 27px;
                         }

                         .titre-populaire > i {
                                                  float: right;
                         }
                         .article-populaire .article-photo img {
                                                  width: 130px;
                                                  height: 152px;
                                                  object-fit: cover;
                                                  float: left;
                                                  margin-right: 10px;
                         }
                         .article-populaire figure {
                                                  display: flex;
                                                  flex-direction: row;
                                                  align-items: center;
                                                  width: 260px;
                                                  height: 150px;
                                                  margin: 2px;
                                                  justify-items: flex-start;

                                                  width: 100%;
                         }
                         .article-populaire figcaption {
                                                  font-size: small;
                                                  width: 100%;
                                                  display: flex;
                                                  flex-flow: column wrap;
                                                  height: 100%;
                         }
                         .article-populaire figcaption h3 {
                                                  font-weight: 800;
                                                  font-size: 16px;
                                                  margin: 18px 0 0px 0;
                                                  width: 100%;
                                                  height: 31px;
                         }
                         .article-populaire figcaption p {
                                                  margin-bottom: 35px;
                                                  font-weight: 500;
                         }
                         .lodging-price {
                                                  font-weight: bolder;
                         }

                         .article-populaire figcaption .star {
                                                  display: flex;
                         }
                         #activites {
                                                  margin: 0px 0px 0px 30px;
                                                  width: 100%;
                                                  height: auto;
                                                  color: black;
                         }
                         #activites h3 {
                                                  font-weight: 800;
                                                  margin-left: 45px;
                                                  font-size: 20px;
                                                  position: relative;
                                                  left: 20px;
                         }
                         .list-activites {
                                                  list-style-type: none;
                                                  display: flex;
                                                  height: 450px;
                                                  flex-flow: column wrap;
                                                  column-count: 4;
                                                  align-content: space-between;
                                                  padding-left: 12px;
                         }

                         .big {
                                                  width: 23%;
                                                  height: 415px;
                                                  margin: 1%;
                                                  background-color: #ffffff;
                                                  border-radius: 15px;
                                                  overflow: hidden;
                                                  box-shadow: 5px 5px 20px
                                                                           rgba(
                                                                                                    0,
                                                                                                    0,
                                                                                                    0,
                                                                                                    0.1
                                                                           );
                         }
                         .big .activity-photo {
                                                  height: 87%;
                         }
                         .big figcaption {
                                                  font-size: 15px;
                                                  font-weight: 800;
                                                  margin: 13px 0px 13px 5px;
                         }

                         .medium {
                                                  width: 23%;
                                                  margin: 1%;
                                                  height: 210px;
                                                  background-color: #ffffff;
                                                  border-radius: 15px;
                                                  overflow: hidden;
                                                  box-shadow: 5px 5px 20px
                                                                           rgba(
                                                                                                    0,
                                                                                                    0,
                                                                                                    0,
                                                                                                    0.1
                                                                           );
                         }
                         .medium .activity-photo {
                                                  height: 73%;
                         }
                         .medium figcaption {
                                                  font-size: 15px;
                                                  font-weight: 800;
                                                  margin: 13px 0px 13px 5px;
                         }
                         .small {
                                                  width: 23%;
                                                  margin: 1%;
                                                  height: 180px;
                                                  background-color: #ffffff;
                                                  border-radius: 15px;
                                                  overflow: hidden;
                                                  box-shadow: 5px 5px 20px
                                                                           rgba(
                                                                                                    0,
                                                                                                    0,
                                                                                                    0,
                                                                                                    0.1
                                                                           );
                         }
                         .small .activity-photo {
                                                  height: 70%;
                         }
                         .small figcaption {
                                                  font-size: 15px;
                                                  font-weight: 800;
                                                  margin: 13px 0px 13px 5px;
                         }
                         .list-activites a 
                         {
                            width: 100%;
                            margin: 0%;
                            color: #333;
                            text-decoration: none;
                         }

                         .list-activites figure {
                                                  width: 100%;
                                                  height: 100%;
                                                  margin: 0%;
                         }

                         .activity-photo img {
                                                  width: 100%;
                                                  height: 100%;
                                                  object-fit: cover;
                         }
                         .article-activi:hover .activity-photo img {
                                                  /*6*/
                                                  width: 110%;
                                                  filter: grayscale(0);
                                                  height: 170%;
                         }
                         footer {
                                                  background-color: #f2f2f2;
                                                  display: flex;
                                                  flex-flow: row wrap;
                                                  justify-content: space-around;
                                                  height: 200px;
                                                  padding-left: 35px;
                         }
                         footer a{
                            color: #333;
                                                  text-decoration: none;
                         }
                         .about {
                                                  width: 30%;
                                                  margin-top:30px;
                         }
                         .about p {
                                                  font-weight: 800;
                                                  position: relative;
                                                  
                         }
                         .accommodation {
                                                  width: 30%;
                                                  margin-top:30px;
                         }
                         .accommodation p {
                                                  font-weight: 800;
                                                  position: relative;
                                                
                         }
                         .assistance {
                                                  width: 30%;
                                                  margin-top:30px;
                         }
                         .assistance p {
                                                  font-weight: 800;
                                                  position: relative;
                                                  
                         }
                         .about ul {
                                                  list-style-type: none;
                                                  padding: 2px;
                         }
                         .about ul li {
                            margin-top: 10px;
                         }
                         .accommodation ul {
                                                  list-style-type: none;
                                                  padding: 2px;
                         }
                         .accommodation ul li 
                         {
                            margin-top: 10px;
                         }
                         .assistance ul {
                        list-style-type: none;
                        padding: 2px;
                         }
                         .assistance ul li 
                        { 
                            margin-top: 10px;
                        }
                    }