

@media screen and (min-width:993px)  {
   HTML 
   {
     width: auto;
     margin: 30px;
   }
  body
  
     {
       font-family: Raleway, Arial, Helvetica, sans-serif;
    }
  
  /*HEADER*/
  
  .head-section
  {
    height: 60px;
    display: flex;
    justify-content: space-between;
   align-items: center;
   width: 100%;
  }
  #logo
  {
    margin: 50px 0 40px 40px;
     width:42%; 
  }
  .menu /* espacement entre les mot*/
  {
    font-size: larger;
   margin: 0%;
   width: 300px;
  }
  .menu ul 
  {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 70px;
    padding: 4px;
    padding-right: 20px;
    font-size: medium;
  }
  ul li
  {
    display: inline-block;
   padding-right: 20px;
  }
  .menu a:hover 
  {/* barre  au dessu du lien  quand on survole */
    color: #0065fc;
    border-top: 2px solid #0065FC;
    padding-top: 45px;
    width: 100%;
  
  }
  a:link /* trait sous le lien retiré */
  { 
  text-decoration:none;
  }
  a
  {
  padding: 4px;
  text-decoration: none;
  color: black;
  width: 120px;
  }
  /* filtre*/
  /*MAIN*/
  

  .filtre h1
  {
    text-align: left;
    font-size:larger;
    font-weight: bold;
    margin-bottom: 0%;
   
  }
  .filtre h2
   {
    opacity: 0.8;
    text-align: left;
    font-size:medium;
    width: 80%;
    font-weight: lighter;
    margin-top: 0%;
   
  }
  .filtre
  {
    margin-left: 40px;
    display: flexbox;
    flex-direction: column;
  }
  .filtre:first-child
  {
    width: auto;
    align-self: center;
  }
  .recherche{/* recherche */
    width: 100%;
    height: 50px;
  }
  .formulaire 
  {
    height: 50px;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
  width: auto;
  }
  .bouton .fa-magnifying-glass/* icon loupe disparait */
  {
    display:none;
    width: 30%;
  }
  .bouton .spam/* recherche white */
  {
    color: white;
  }
  .icon
  {
    width: 50px;
    height: auto;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .champ
  {
      width: 200px;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border: 1px solid #f2f2f2;
      border-right: none;
      font-weight: bolder;
  
  }
  .bouton
  {
    width: 100px;
    height:auto;
    border: none;
    background-color: #0065fc;
    color: #ffffff;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
  }
  .filtres p  /* filtre */
  {
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: 10px;
  }
  .filtres
  {
  width: 100%;
    display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  }
  button 
  {
   
  }
  .filtres button 
  {
    width: 150px;
    display: flex;
   flex-flow: row nowrap;
    align-items: center;
    border: none;
    background-color: white;
   margin: 15PX;
   border: 2px solid #ccc9c9;
   border-radius:  0px 30px  30px 0px; 
   height: 40px
   
  }
  .filtres button P
  {
    width:auto;
  justify-items: center;
 ;
  
  }
  .filtres i 
  {
  position:relative;
  right: 19px; ;
  display: flex;
  justify-content: center;
  width: 15px;
  height: 15PX;
  color: #0065fc;
  background-color:#bff0f7;
  border-radius: 100%;
  padding: 14PX 14PX 14PX 14PX ;
  }
  .fa-info /* bulle info*/
  {
  font-size: x-small;
  }
  .info i
  {
  
    color: #0065fc;
    background-color:white;
    border-radius:  100%;
    border: 1px solid #f2f2f2;
    padding: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .info spam
  {
    opacity: 0.8;
    text-align: center;
    font-size: small;
    width: 80%;
  }
  /* article*/
  .cont-article/*SECTION en colone article et footer */
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #hébergement /* hébergement et les populaire row*/
  {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
  }
  .article-list /* mise en forme liste article*/
  {
    display:flex;
    flex-flow: row wrap;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 15px 10px;
    width: 60%;
    margin-right: 25px;
    margin-left: 20px;
  }
  .article-titre h1
  {
    margin-left: 45px;
    font-size: 20px;
  }
  #link /* mise en forme "afficher plus"*/
  {
    margin-left: 45px;
  }
  .annonce /* disposition des annonce*/
  {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 25px;
    justify-content: space-around;
  }
  .article /* mise en forme des annonce */
  {
      width: 397px;
      height: 495px;
      background-color: #ffffff;
      border: 5px solid #ffffff;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
      margin-left: 5px;
      margin-bottom: 20px;
      font-size:   10px;
      line-height: 3px;
  }
  .article1 /* recouvrement de l'image*/
  {
    width: 100%;
      height: 345px;
      object-fit: cover;
  }
  .article h2,.article p /* mise en place texte*/
  {
    font-size: 14px;
    padding-top: 7px;
    margin-top: 5px;
    margin-bottom: 1px;
  }
  .star .fa-solid
  {
    color: #0065fc;
  }
  i 
  {
    font-family: fontawesome;
  }
  .star .fa-duotone
  {
   color: rgb(155, 149, 149);
  }
  }