@media all and (max-width: 767px) {
                         /* version smartphone*/
                         html {
                                                  padding: 5px;
                         }

                         body {
                                                  font-family: Raleway;
                                                  width: 90%;
                         }

                         .logo/*HEADER*/ {
                                                  display: flex;
                                                  justify-content: center;
                         }
                         #logo {
                                                  width: 30%;
                                                  margin: 35px;
                         }
                         .head-section {
                                                  display: flex;
                                                  flex-direction: column;
                                                  align-items: center;
                                                  justify-content: center;
                                                  width: 100%;
                         }
                         .menu {
                                                  width: 100%;
                                                  display: flex;
                                                  flex-direction: row;
                                                  justify-content: center;
                                                  height: 100%;
                                                  align-items: center;
                         }
                         .bordure-nav:hover {
                                                  border-bottom: 3px solid
                                                                           #0065fc;
                                                  color: #0065fc;
                                                  display: flex;
                                                  justify-content: center;
                                                  align-items: center;
                                                  padding-bottom: 20px;
                         }
                         .bordure-nav {
                                                  margin: 10px 0 10px 0;
                                                  height: 100%;
                                                  display: flex;
                                                  justify-content: center;
                                                  align-items: center;
                                                  padding-bottom: 20px;
                                                  border-bottom: 2px solid
                                                                           #f2f2f2;
                         }
                         a:link /* trait sous le lien retiré */ {
                                                  text-decoration: none;
                         }
                         .menu > a {
                                                  text-decoration: none;
                                                  color: black;
                                                  width: 50%;
                                                  display: flex;
                                                  justify-content: center;
                         }
                         /* filtre*/
                         /*MAIN*/

                         .filtre h1 {
                                                  text-align: left;
                                                  font-size: 21px;
                                                  font-weight: 800;
                                                  margin: 25px 76px 10px 40px;
                         }
                         .filtre > p {
                                                  margin-left: 40px;
                                                  opacity: 0.8;
                                                  text-align: left;
                                                  font-size: medium;
                                                  width: 80%;
                                                  font-weight: 500;
                                                  margin-top: 0%;
                         }

                         .filtre {
                                                  display: flex;
                                                  flex-direction: column;
                         }
                         .filtre:first-child:first-child {
                                                  width: 100%;
                         }
                         .recherche {
                                                  /* recherche */
                                                  margin-left: 40px;
                                                  width: 100%;
                                                  height: 50px;
                                                  margin-top: 20px;
                         }
                         .formulaire {
                                                  height: 50px;
                                                  display: flex;
                                                  flex-direction: row;
                                                  justify-content: flex-start;
                         }
                         .formulaire button p {
                                                  display: none;
                         }

                         .icon {
                                                  width: 50px;
                                                  height: auto;
                                                  background-color: #f2f2f2;
                                                  border: 1px solid #f2f2f2;
                                                  border-radius: 15px 0 0 15px;
                                                  display: flex;
                                                  align-items: center;
                                                  justify-content: center;
                         }
                         .champ {
                                                  width: 200px;
                                                  height: auto;
                                                  display: flex;
                                                  align-items: center;
                                                  justify-content: flex-start;
                                                  border: 1px solid #f2f2f2;
                                                  border-right: none;
                                                  font-weight: bolder;
                         }
                         .magnifying-glass {
                                                  display: flex;
                                                  align-items: center;
                                                  justify-content: center;
                                                  width: 60px;
                                                  height: auto;
                                                  border: none;
                                                  background-color: #0065fc;
                                                  border-radius: 15px 15px 15px
                                                                           15px;
                                                  color: white;
                                                  cursor: pointer;
                         }
                         .magnifying-glass:hover {
                                                  
                                                  width: 60px;
                                                  height: 100%;
                                                  border: 2px solid #0065fc;
                                                  background-color: #fdfdfd;
                                                  border-radius: 15px 15px 15px
                                                                           15px;
                                                  color: #0065fc;
                                                  box-shadow: 10px 5px 5px
                                                                           #0065fc;
                                                                           cursor: pointer;
                         }
                         .btn {
                                                  display: none;
                         }

                         .magnifying-glass i {
                                                  width: 60px;
                                                  display: flex;
                                                  align-items: center;
                                                  justify-content: center;
                         }

                         .filtres {
                                                  margin-top: 13px;
                                                  width: 100%;
                                                  display: flex;
                                                  flex-wrap: wrap;
                                                  flex-direction: row;
                                                  align-items: center;

                                                  height: 40%;
                         }
                         .filtres h4 {
                                                  width: 100%;
                                                  font-weight: 1000;
                                                  margin-left: 40px;
                         }
                         .filters-ul {
                                                  display: flex;
                                                  flex-flow: row wrap;
                                                  width: 100%;
                         }
                         
                         .eco .i-info {
                                                  position: relative;
                                                  right: 29px;
                                                  bottom: 5px;
                         }
                       
                         .romantic .i-info {
                                                  position: relative;
                                                  right: 29px;
                                                  bottom: 5px;
                         }
                       
                         .family .i-info {
                                                  position: relative;
                                                  right: 29px;
                                                  bottom: 5px;
                         
                         }
                        

                         .pets-allowed .i-info {
                                                  position: relative;
                                                  right: 29px;
                                                  bottom: 5px;
                         }
                         .btn-filtre {
                                                  width: auto;
                                                  display: flex;
                                                  flex-direction: row;
                                                  flex-wrap: wrap;

                                                  border: none;
                                                  background-color: white;
                                                  margin: 10px 44px 10px 36px;
                                                  border: 2px solid #ccc9c9;
                                                  border-radius: 0px 30px 30px
                                                                           0px;
                                                  height: 40px;
                         }
                         .btn-filtre span {
                                                  position: relative;
                                                  right: 19px;
                                                  top: 8px;
                                                  width: auto;
                                                  display: flex;
                                                  font-weight: 700;
                         }
                         .i-info {
                                                  display: flex;
                                                  justify-content: center;
                                                  width: 14px;
                                                  height: 14px;
                                                  color: #0065fc;
                                                  background-color: #90dafd;
                                                  border-radius: 100%;
                                                  padding: 14px 14px 14px 14px;
                         }
                         .btn-filtre:hover .i-info {
                                                  position: relative;
                                                  right: 25px;
                                                  display: flex;
                                                  justify-content: center;
                                                  width: 15px;
                                                  height: 15px;
                                                  color: #bff0f7;
                                                  background-color: #0065fc;
                                                  border-radius: 100%;
                                                  padding: 14px 14px 14px 14px;
                                                  cursor: pointer;
                         }
                         .info {
                                                  padding-left: 16px;
                                                  display: flex;
                                                  align-items: baseline;
                                                  width: 100%;
                         }
                         .fa-info /* bulle info*/ {
                           
                                                  font-size: .9em;
                                                 
                                                  color: #0065fc;
                                                  background-color: white;
                                                  border-radius: 100%;
                                                  border: 1px solid #a09e9e;
                                                  padding: 12px 9px 12px 9px;
                                                  margin-right: 10px;
                         }
                         .info p {
                                                  font-weight: 400;
                                                  font-size: 16px;
                                                  width: 80%;
                         }
                         .cont-article .Article-list {
                                                  display: flex;
                                                  flex-direction: column-reverse;
                         }
                         .annonce {
                                                  list-style-type: none;
                         }
                         .article a {
                                                  color: #333;
                                                  text-decoration: none;
                         }
                         .les-populaires {
                                                  /* liste annonce*/
                                                  background-color: #f2f2f2;
                                                  padding: 0px 0px;
                                                  width: 100%;
                         }
                         .article-populaire {
                                                  font-size: smaller;
                                                  width: 79%;
                                                  height: 135px;
                                                  background-color: #ffffff;
                                                  border: 6px solid #ffffff;
                                                  border-radius: 25px;
                                                  overflow: hidden;
                                                  box-shadow: 5px 5px 20px
                                                                           rgba(
                                                                                                    0,
                                                                                                    0,
                                                                                                    0,
                                                                                                    0.1
                                                                           );
                                                  margin-left: 20px;
                                                  margin-bottom: 20px;
                                                  align-content: center;
                         }
                         .article-populaire a {
                                                  position: relative;
                                                  top: -6px;
                         }
                         .annonce-populaire {
                                                  display: flex;
                                                  flex-wrap: wrap;
                                                  width: 95%;
                                                  padding-left: 5%;
                         }
                         .annonce-populaire li {
                                                  width: 100%;
                         }
                         .article-populaire:hover .populaire-photo {
                                                  /*6*/
                                                  width: 120%;
                                                  filter: grayscale(0);
                                                  position: relative;
                                                  bottom: 25%;
                         }
                         .les-populaires > h2 {
                                                  font-weight: 800;
                                                  padding-left: 20px;
                                                  font-size: 20px;
                                                  width: 100%;
                         }
                         .star-pop {
                                                  float: right;
                                                  position: relative;
                                                  right: 37px;
                         }
                         .populaire-photo {
                                                  position: relative;
                                                  right: 38px;
                                                  bottom: 23px;
                         }

                         .populaire-photo {
                                                  width: 130px;
                                                  height: 160px;
                                                  object-fit: cover;
                                                  float: left;
                                                  margin-right: 10px;
                         }
                         .article-populaire figcaption {
                                                  position: relative;
                                                  bottom: 15px;
                                                  right: 31px;
                                                  display: flex;
                                                  flex-direction: column;
                                                  align-items: flex-start;
                                                  
                         }
                         .article-populaire figure {
                                                  width: 95%;
                                                  height: 135px;
                         }
                         .article-populaire figcaption h3 {
                                                  margin-bottom: 3px;
                                                  font-weight: bold;
                                                  font-size: large;
                                                  height: 30%;
                         }
                         .article-populaire figcaption p {
                                                  margin-top: 3px;
                                                  margin-bottom: 45px;
                                                  height: 30%;
                         }
                         .lodging-price {
                                                  font-weight: bold;
                         }
                         .article-populaire .star {
                                                  display: flex;
                                                  position: relative;
                                                  top: 10px;
                         }

                         .star-on {
                                                  color: #0065fc;
                         }
                         .star-off {
                                                  color: #a0a1a1;
                         }
                         .annonce-hebergement {
                                                  list-style-type: none;
                                                  display: flex;
                                                  justify-content: space-around;
                                                  flex-flow: row wrap;
                                                  align-items: stretch;
                                                  width: 100%;
                                                  padding: 0px 10px;
                                                  flex-direction: column;
                                                  flex-wrap: nowrap;
                         }

                         #hebergement/* hébergement */ {
                                                  margin: 0 auto;

                                                  border-radius: 25px;
                                                  padding: 0px;
                                                  margin: 0;
                                                  width: 96%;
                                                  display: flex;
                                                  flex-direction: column;
                         }
                         #hebergement > h2 {
                           font-weight: 700;
                           font-size: 23px;
                           padding-left: 10px;
                         }

                         .list-heberg {
                                                  width: 95%;
                         }

                         .article-heberg {
                                                  width: 85%;
                                                  height: 200px;
                                                  background-color: #ffffff;
                                                  border: 5px solid #ffffff;
                                                  border-radius: 25px;
                                                  overflow: hidden;
                                                  box-shadow: 5px 5px 20px
                                                                           rgba(
                                                                                                    0,
                                                                                                    0,
                                                                                                    0,
                                                                                                    0.1
                                                                           );
                                                  margin-left: 10px;
                                                  margin-bottom: 20px;
                         }
                         .article-heberg figure {
                                                  width: 100%;
                                                  height: 150px;
                                                  margin: 2px;
                         }

                         .article-heberg figcaption {
                                                  display: flex;
                                                  flex-direction: column;
                                                  box-sizing: border-box;
                         }

                         .article a {
                                                  color: #333;
                                                  text-decoration: none;
                         }
                         .article-heberg:hover .heberg-photo {
                                                  /*6*/
                                                  width: 100%;
                                                  filter: grayscale(0);
                                                  height: 210px;
                         }

                         .heberg-photo {
                                                  width: 100%;
                                                  height: 72%;

                                                  object-fit: cover;
                                                  position: relative;
                                                  bottom: 10px;
                         }
                         .article-heberg figcaption>h3 {
                           font-size: 18px;
                           font-weight: 700;
                           margin: 0px 0 4px 0;
                         }
                         .article-heberg figcaption>p {
                                                  font-size: small;
                                                  margin: 0px 0 11px 0;
                         }

                         #link {
                                                  margin: 0%;
                                                  width: 50%;
                                                  padding-left: 26px;
                                                  font-weight: 800;
                                                  text-decoration: none;
                                                  color: black;
                                                  font-size: 18px;
                         }
                         #activites {
                                                  width: 100%;
                                                  margin: 0px 0px 0px 0px;
                         }
                         #activites h3 {
                                                  font-weight: 800;
                                                  padding-left: 30px;
                                                  width: 50%;
                                                  font-size: 20px;
                                                  text-align: left;
                                                  margin-right: 0%;
                         }
                         .list-activites {
                                                  list-style-type: none;
                                                  display: flex;
                                                  height: auto;
                                                  flex-flow: column wrap;
                                                  padding-inline-start: 20px;
                         }
                         .big {
                                                  
                                                  margin: 2%;
                                                  background-color: #ffffff;
                                                  border-radius: 15px;
                                                  overflow: hidden;
                                                  box-shadow: 5px 5px 20px
                                                                           rgba(
                                                                                                    0,
                                                                                                    0,
                                                                                                    0,
                                                                                                    0.1
                                                                           );
                         }
                         .medium {
                                                
                                                  margin: 2%;
                                                  height: 176px;
                                                  background-color: #ffffff;
                                                  border-radius: 15px;
                                                  overflow: hidden;
                                                  box-shadow: 5px 5px 20px
                                                                           rgba(
                                                                                                    0,
                                                                                                    0,
                                                                                                    0,
                                                                                                    0.1
                                                                           );
                         }
                         .small {
                                                 
                                                  margin: 2%;
                                                  height: 176px;
                                                  background-color: #ffffff;
                                                  border-radius: 15px;
                                                  overflow: hidden;
                                                  box-shadow: 5px 5px 20px
                                                                           rgba(
                                                                                                    0,
                                                                                                    0,
                                                                                                    0,
                                                                                                    0.1
                                                                           );
                         }
                         .activity-photo {
                                                  width: 110%;
                                                  height: 140px;
                                                  object-fit: cover;
                                                  position: relative;
                                                  bottom: 10px;
                         }
                         .list-activites a {
                                                  width: 100%;
                                                  margin: 0%;
                                                  color: #333;
                                                  text-decoration: none;
                         }
                         .list-activites figure {
                                                  width: 100%;
                                                  margin: 0%;
                         }
                         .list-activites figcaption {
                                                  font-size: 16px;
                                                  font-weight: 800;
                                                  margin: 8px 0px 13px 16px;
                         }
                         .article-activi:hover .activity-photo {
                                                  /*6*/
                                                  width: 460px;
                                                  filter: grayscale(0);
                                                  height: 210px;
                         }
                         .article-activi{
                           width: 78%;
                           height: 200px;
  }
                       
                         footer {
                                                  background-color: #f2f2f2;
                                                  display: flex;
                                                  flex-flow: column wrap;
                                                  justify-content: space-around;
                                                  width: 83%;
                                                  padding-left: 35px;
                         }
                         footer a {
                                                  color: #333;
                                                  text-decoration: none;
                         }
                         .about {
                                                  width: 70%;
                                                  margin-top: 30px;
                         }
                         .about p {
                                                  font-weight: 800;
                         }
                         .accommodation {
                                                  width: 70%;
                                                  margin-top: 10px;
                         }
                         .accommodation p {
                                                  font-weight: 800;
                         }
                         .assistance {
                                                  width: 70%;
                                                  margin-top: 10px;
                         }
                         .assistance p {
                                                  font-weight: 800;
                         }
                         .about ul {
                                                  list-style-type: none;
                                                  padding: 2px;
                                                  font-weight: 500;
                         }
                         .about ul li {
                                                  margin-top: 10px;
                         }
                         .accommodation ul {
                                                  list-style-type: none;
                                                  padding: 2px;
                                                  font-weight: 500;
                         }
                         .accommodation ul li {
                                                  margin-top: 10px;
                         }
                         .assistance ul {
                                                  list-style-type: none;
                                                  padding: 2px;
                                                  font-weight: 500;
                         }
                         .assistance ul li {
                                                  margin-top: 10px;
                         }
}
