@media screen and (min-width: 768px) and (max-width: 992px) {
                         /*version tablette*/
                         html body {
                                                  font-family: raleway;
                         }
                         HTML {
                                                  width: auto;
                                                  padding-left: 5px;
                         }

                         /*HEADER*/

                         .head-section {
                                                  height: 100px;
                                                  display: flex;
                                                  justify-content: space-between;
                                                  align-items: center;
                                                  width: 100%;
                         }
                         #logo {
                                                  margin: 40px 0 40px 40px;
                                                  width: 13%;
                         }

                         .menu {
                                                  width: 30%;
                                                  display: flex;
                                                  justify-content: flex-end;
                                                  height: 100%;
                                                  align-items: center;
                         }
                         .bordure-nav:hover {
                                                  border-top: 3px solid #0065fc;
                                                  color: #0065fc;
                                                  display: flex;
                                                  justify-content: center;
                                                  align-items: center;
                         }
                         .bordure-nav {
                                                  height: 100%;
                                                  display: flex;
                                                  justify-content: center;
                                                  align-items: center;
                         }
                         a:link /* trait sous le lien retiré */ {
                                                  text-decoration: none;
                         }
                         .menu > a {
                                                  text-decoration: none;
                                                  color: black;
                                                  width: 160px;
                                                  display: flex;
                                                  justify-content: center;
                         }
                         /* filtre*/
                         /*MAIN*/

                         .filtre h1 {
                                                  text-align: left;
                                                  font-size: larger;
                                                  font-weight: bold;
                                                  margin-bottom: 10px;
                         }
                         .filtre > p {
                                                  text-align: left;
                                                  font-size: medium;
                                                  width: 80%;
                                                  font-weight: 500;
                                                  margin-top: 0%;
                         }
                         .filtre {
                                                  margin-left: 40px;

                                                  display: flex;
                                                  flex-direction: column;
                         }
                         .filtre:first-child {
                                                  width: auto;
                                                  align-self: center;
                         }
                         .recherche {
                                                  /* recherche */
                                                  width: 76%;
                                                  height: 50px;
                                                  margin-top: 20px;
                         }
                         .formulaire {
                                                  height: 50px;
                                                  display: flex;
                                                  flex-direction: row;
                                                  justify-content: flex-start;
                                                  width: auto;
                         }
                         .fa-magnifying-glass /* icon loupe disparait */ {
                                                  display: none;
                                                  width: 30%;
                         }
                         .icon {
                                                  width: 50px;
                                                  height: auto;
                                                  background-color: #f2f2f2;
                                                  border: 1px solid #f2f2f2;
                                                  border-radius: 15px 0 0 15px;
                                                  display: flex;
                                                  align-items: center;
                                                  justify-content: center;
                         }
                         .champ {
                                                  width: 200px;
                                                  height: auto;
                                                  display: flex;
                                                  align-items: center;
                                                  justify-content: flex-start;
                                                  border: 1px solid #f2f2f2;
                                                  border-right: none;
                                                  font-weight: 900;
                         }
                         .btn {
                                                  font-weight: bold;
                                                  height: 50px;
                                                  width: 120px;
                                                  background-color: #0065fc;
                                                  color: white;
                                                  border: none;
                                                  cursor: pointer;
                                                  border-radius: 0 10px 10px 0;
                         }

                         .btn:hover {
                                                  font-weight: bold;
                                                  height: 50px;
                                                  width: 120px;
                                                  background-color: white;
                                                  color: #0065fc;
                                                  border: 2px solid #0065fc;
                                                  cursor: pointer;
                                                  border-radius: 0 10px 10px 0;
                                                  box-shadow: 10px 5px 5px
                                                                           #0065fc;
                         }

                         .magnifying-glass {
                                                  display: none;
                         }

                         /* filtre */
                         .filtres {
                                                  margin: 20px 0 0 15px;
                                                  font-weight: 900;

                                                  display: flex;
                                                  width: 80%;
                                                  align-items: baseline;
                         }

                         .bouton a {
                                                  color: white;
                         }
                         .filters-ul {
                                                  display: flex;
                                                  flex-flow: row wrap;
                                                  width: 90%;
                         }

                         .eco p {
                                                  position: relative;
                                                  right: 34px;
                         }
                         .eco .i-info {
                                                  position: relative;
                                                  right: 34px;
                         }
                         .Romantic p {
                                                  position: relative;
                                                  right: 39px;
                         }
                         .Romantic .i-info {
                                                  position: relative;
                                                  right: 39px;
                         }
                         .Family p {
                                                  position: relative;
                                                  right: 40px;
                         }
                         .Family .i-info {
                                                  position: relative;
                                                  right: 40px;
                         }
                         .pets-allowed p {
                                                  position: relative;
                                                  right: 19px;
                         }
                         .pets-allowed .i-info {
                                                  position: relative;
                                                  right: 30px;
                         }
                         .btn-filtre {
                                                  width: 25%;
                                                  display: flex;
                                                  align-items: center;
                                                  justify-content: space-around;

                                                  /* text-align: center; */
                                                  font-weight: 800;
                                                  border: none;
                                                  background-color: white;

                                                  margin: 18px 8px 13px 30px;
                                                  border: 2px solid #ccc9c9;
                                                  border-radius: 0px 30px 30px
                                                                           0px;
                                                  height: 40px;
                         }
                         .i-info {
                                                  position: relative;
                                                  right: 29px;
                                                  display: flex;
                                                  justify-content: center;
                                                  width: 17px;
                                                  height: 17px;
                                                  color: #0065fc;
                                                  background-color: #bff0f7;
                                                  border-radius: 100%;
                                                  padding: 14px 14px 14px 14px;
                                                  cursor: pointer;
                         }
                         .btn-filtre:hover .i-info {
                                                  display: flex;
                                                  justify-content: center;
                                                  width: 15px;
                                                  height: 15px;
                                                  color: #bff0f7;
                                                  background-color: #0065fc;
                                                  border-radius: 100%;
                                                  padding: 14px 14px 14px 14px;
                                                  cursor: pointer;
                         }
                         .info {
                                                  width: 80%;
                                                  display: flex;
                                                  align-items: center;
                         }
                         .fa-info /* bulle info*/ {
                                                  font-size: x-small;
                         }
                         .info i {
                                                  color: #0065fc;
                                                  background-color: white;
                                                  border-radius: 100%;
                                                  border: 1px solid #a09e9e;
                                                  padding: 12px 10px 12px 10px;
                                                  margin-right: 10px;
                         }
                         .info p {
                                                  opacity: 0.8;
                                                  font-size: small;
                                                  width: 80%;
                         }
                         .cont-article {
                                                  width: 90%;
                         }
                         .cont-article .Article-list {
                                                  display: flex;
                                                  flex-direction: column-reverse;
                                                  align-items: center;
                         }
                         .article a {
                                                  color: #333;
                                                  text-decoration: none;
                         }
                         .les-populaires {
                                                  background-color: #f2f2f2;
                                                  padding: 0px 5px;
                                                  width: 96%;
                                                  border-radius: 25px;
                                                  display: flex;
                                                  flex-flow: row wrap;
                                                  justify-content: center;
                                                  flex-direction: column;
                         }
                         .article-populaire {
                                                  font-size: smaller;
                                                  width: 100%;
                                                  height: 135px;
                                                  background-color: #ffffff;
                                                  border: 6px solid #ffffff;
                                                  border-radius: 25px;
                                                  overflow: hidden;
                                                  box-shadow: 5px 5px 20px
                                                                           rgba(
                                                                                                    0,
                                                                                                    0,
                                                                                                    0,
                                                                                                    0.1
                                                                           );
                                                  margin-bottom: 20px;
                                                  align-content: center;
                         }
                         .article-populaire > a {
                                                  position: relative;
                                                  top: -6px;
                         }
                         .annonce-populaire {
                                                  display: flex;
                                                  flex-wrap: wrap;
                                                  width: 96%;
                                                  padding-left: 0px;
                                                  list-style-type: none;
                         }
                         .annonce-populaire > li {
                                                  width: 30%;
                                                  margin-left: 3%;
                         }
                         .article-populaire:hover .populaire-photo {
                                                  /*6*/
                                                  width: 300px;
                                                  filter: grayscale(0);
                         }
                         .les-populaires > h2 {
                                                  font-weight: 800;
                                                  margin-left: 45px;
                                                  font-size: 20px;
                                                  text-align: center;
                         }
                         .les-populaires > i {
                                                  float: right;
                                                  padding-left: 5px;
                         }
                         .populaire-photo {
                                                  position: relative;
                                                  right: 8px;
                                                  width: 50%;
                                                  height: 160px;
                                                  object-fit: cover;
                                                  float: left;
                         }
                         .article-populaire figcaption {
                                                  position: relative;
                                                  bottom: 11px;

                                                  display: flex;
                                                  flex-direction: column;
                                                  align-items: flex-start;
                                                  width: 50%;
                                                  height: 100%;
                                                  margin: 0%;
                         }
                         .article-populaire figure {
                                                  width: 100%;
                                                  height: 135px;
                                                  margin: 0%;
                         }
                         .article-populaire figcaption h3 {
                                                  margin-bottom: 9px;
                                                  font-weight: 800;
                                                  font-size: 16px;
                                                  height: 27%;
                         }
                         .article-populaire figcaption p {
                                                  height: 30%;
                         }
                         .lodging-price {
                                                  font-weight: bold;
                         }
                         .article-populaire .star {
                                                  display: flex;
                                                  position: relative;
                                                  top: 10px;
                         }

                         .star-on {
                                                  color: #0065fc;
                         }
                         .star-off {
                                                  color: #a0a1a1;
                         }
                         /*hhébergement*/
                         #hebergement/* hébergement */ {
                                                  margin: 0 auto;
                                                  background-color: #f2f2f2;
                                                  border-radius: 25px;
                                                  padding: 0px 10px;
                                                  margin: 5px 25px 0 20px;
                                                  width: 96%;
                                                  display: flex;
                                                  flex-direction: column;
                         }
                         #hebergement > h2 {
                                                  font-weight: 800;
                                                  margin-left: 45px;
                                                  font-size: 20px;
                                                  text-align: center;
                         }

                         .annonce-hebergement {
                                                  list-style-type: none;
                                                  display: flex;
                                                  justify-content: space-around;
                                                  flex-flow: row wrap;
                                                  align-items: center;
                                                  width: 100%;
                                                  padding: 0px 10px;
                         }
                         .list-heberg {
                                                  width: 33%;
                         }

                         .article-heberg {
                                                  width: 85%;
                                                  height: 200px;
                                                  background-color: #ffffff;
                                                  border: 5px solid #ffffff;
                                                  border-radius: 25px;
                                                  overflow: hidden;
                                                  box-shadow: 5px 5px 20px
                                                                           rgba(
                                                                                                    0,
                                                                                                    0,
                                                                                                    0,
                                                                                                    0.1
                                                                           );
                                                  margin-left: 10px;
                                                  margin-bottom: 20px;
                         }
                         .article-heberg figure {
                                                  width: 260px;
                                                  height: 150px;
                                                  margin: 2px;
                         }

                         .article-heberg figcaption {
                                                  display: flex;
                                                  flex-direction: column;
                                                  margin-bottom: 0px;
                                                  box-sizing: border-box;
                         }

                         .article a {
                                                  color: #333;
                                                  text-decoration: none;
                         }
                         .article-heberg:hover .heberg-photo {
                                                  /*6*/
                                                  width: 250px;
                                                  filter: grayscale(0);
                                                  height: 210px;
                         }

                         .heberg-photo {
                                                  width: 100%;
                                                  height: 72%;

                                                  object-fit: cover;
                                                  position: relative;
                                                  bottom: 10px;
                         }
                         .article-heberg figcaption > h3 {
                                                  font-size: 16px;
                                                  font-weight: 800;
                                                  margin: 10px 0 0px 0;
                         }
                         .article-heberg figcaption > p {
                                                  font-size: small;
                                                  margin: 12px 0 12px 0;
                         }

                         #link {
                                                  margin: 0px 0px 0px 55px;
                                                  font-weight: 800;
                                                  text-decoration: none;
                                                  color: black;
                                                  font-size: 18px;
                         }
                         #activites {
                                                  height: auto;
                                                  width: 95%;
                         }
                         #activites h3 {
                                                  font-weight: 800;
                                                  margin-left: 45px;
                                                  font-size: 20px;
                                                  text-align: center;
                         }
                         .list-activites {
                                                  list-style-type: none;
                                                  display: flex;
                                                  height: auto;
                                                  width: 100%;
                                                  flex-wrap: wrap;
                         }

                         .big {
                                                  width: 90%;
                                                  height: 150px;
                                                  margin: 13px 0px 13px 0px;
                                                  background-color: #ffffff;
                                                  border-radius: 15px;
                                                  overflow: hidden;
                                                  box-shadow: 5px 5px 20px
                                                                           rgba(
                                                                                                    0,
                                                                                                    0,
                                                                                                    0,
                                                                                                    0.1
                                                                           );
                         }
                         .medium2 {
                                                  margin: 13px 0px 13px 5%;
                                                  height: 150px;
                                                  width: 55%;
                                                  background-color: #ffffff;
                                                  border-radius: 15px;
                                                  overflow: hidden;
                                                  box-shadow: 5px 5px 20px
                                                                           rgba(
                                                                                                    0,
                                                                                                    0,
                                                                                                    0,
                                                                                                    0.1
                                                                           );
                         }
                         .medium1 {
                                                  margin: 13px 5% 0px 0px;
                                                  width: 55%;
                                                  height: 150px;
                                                  background-color: #ffffff;
                                                  border-radius: 15px;
                                                  overflow: hidden;
                                                  box-shadow: 5px 5px 20px
                                                                           rgba(
                                                                                                    0,
                                                                                                    0,
                                                                                                    0,
                                                                                                    0.1
                                                                           );
                         }

                         .small2 {
                                                  margin: 13px 0px 13px 0px;
                                                  width: 30%;
                                                  height: 150px;

                                                  box-shadow: 5px 5px 20px
                                                                           rgba(
                                                                                                    0,
                                                                                                    0,
                                                                                                    0,
                                                                                                    0.1
                                                                           );
                                                  background-color: #ffffff;
                                                  border-radius: 15px;
                                                  overflow: hidden;
                         }
                         .small1 {
                                                  margin: 13px 0px 13px 0px;
                                                  width: 30%;
                                                  height: 150px;

                                                  box-shadow: 5px 5px 20px
                                                                           rgba(
                                                                                                    0,
                                                                                                    0,
                                                                                                    0,
                                                                                                    0.1
                                                                           );
                                                  background-color: #ffffff;
                                                  border-radius: 15px;
                                                  overflow: hidden;
                         }

                         .activity-photo {
                                                  width: 100%;
                                                  height: 120px;
                                                  object-fit: cover;
                         }
                         .list-activites a {
                                                  width: 100%;
                                                  margin: 0%;
                                                  color: #333;
                                                  text-decoration: none;
                                                  font-weight: 700;
                         }
                         .list-activites figure {
                                                  width: 100%;
                                                  margin: 0%;
                         }
                         .big-a {
                                                  width: 90%;
                                                  height: 100px;
                         }
                         .small-a {
                                                  width: 40%;

                                                  height: 100px;
                         }
                         .medium-a {
                                                  width: 50%;
                                                  height: 100px;
                         }
                         .article-activi:hover .activity-photo {
                                                  /*6*/
                                                  width: 110%;
                                                  filter: grayscale(0);
                                                  height: 160px;
                         }
                         .article-activi figcaption {
                                                  padding-left: 15px;
                         }
                         footer {
                                                  width: 90%;
                                                  background-color: #f2f2f2;
                                                  display: flex;
                                                  flex-flow: row wrap;
                                                  justify-content: space-around;
                                                  height: 200px;
                                                  margin: 0%;
                         }
                         footer a {
                                                  color: #333;
                                                  text-decoration: none;
                         }
                         .about {
                                                  width: 30%;
                                                  margin-top: 30px;
                         }
                         .about p {
                                                  font-weight: 800;
                                                  position: relative;
                         }
                         .accommodation {
                                                  width: 30%;
                                                  margin-top: 30px;
                         }
                         .accommodation p {
                                                  font-weight: 800;
                                                  position: relative;
                         }
                         .assistance {
                                                  width: 30%;
                                                  margin-top: 30px;
                         }
                         .assistance p {
                                                  font-weight: 800;
                                                  position: relative;
                         }
                         .about ul {
                                                  list-style-type: none;
                                                  padding: 2px;
                         }
                         .about ul li {
                                                  margin-top: 10px;
                         }
                         .accommodation ul {
                                                  list-style-type: none;
                                                  padding: 2px;
                         }
                         .accommodation ul li {
                                                  margin-top: 10px;
                         }
                         .assistance ul {
                                                  list-style-type: none;
                                                  padding: 2px;
                         }
                         .assistance ul li {
                                                  margin-top: 10px;
                         }
}
